
@using Zawamil.Web.Models.Songes.Dtos
@using Zawamil.Web.Utility
@model SowaggerCreateSong
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Model == null ? "CreateSong" : "UpdateSong";
    ViewData["source"] = Model == null ? "" : $"{SD.BaseUrl + ViewData["SongUrl"]}";
}


<h1> @ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewData["Title"]" id="myForm" onsubmit="sendquestion(event)" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                <input asp-for="Id" class="form-control" type="number" hidden />
            </div>
            @if(Model != null)
            {
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" type="number" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SongFile" class="control-label"></label>
                <input type="file" asp-for="SongFile" class="form-control" id="audioFile" accept="audio/*" />
                <span asp-validation-for="SongFile" class="text-danger"></span>
            </div>
            <div>
                <audio  controls id="audioPlayer">
                    <source id="audioSource" src="@ViewData["source"]" type="audio/mpeg" />
                    متصفحك لا يدعم عنصر الصوت.
                </audio>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="@ViewData["Title"]" class="btn btn-success form-control" />
            </div>
        </form>
    </div>
</div>

<div class="form-group">
    <a asp-action="SongIndex">Back to List</a>
</div>


@section Scripts {
    <script>
        function sendquestion(e) {
            e.preventDefault();
            Swal.fire({
                title: 'Do You want this ?',
                icon: 'question',
                showCancelButton: true,

            }).then(resulte => {
                if (resulte.isConfirmed) {
                    const myForm = document.getElementById('myForm');
                    myForm.submit();
                }
            })
        }
    </script>
    <script>
        const audioFileInput = document.getElementById('audioFile');
        const audioPlayer = document.getElementById('audioPlayer');
        const audioSource = document.getElementById('audioSource');

        audioFileInput.addEventListener('change', function () {
            const file = this.files[0];
            
            if (file) {
                const objectURL = URL.createObjectURL(file);
                audioSource.src = objectURL;
                audioPlayer.load();
            }
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
@*
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@